In [1]:
# importing the libaray
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# import the train dataset
df_train=pd.read_excel('Data_Train.xlsx')

In [3]:
# import the test dataset
df_test=pd.read_excel('Data_Test.xlsx')

# joinig both the file so that operations can be performs on both the files simultaneosuly

In [4]:
data=pd.concat([df_train,df_test],sort=False)
data.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",₹200,₹50,3.5,12,4,30 minutes
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",₹100,₹50,3.5,11,4,30 minutes
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30,65 minutes
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",₹250,₹99,3.7,176,95,30 minutes
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",₹200,₹99,3.2,521,235,65 minutes

In [6]:
data.Average_Cost.unique()

array(['₹200', '₹100', '₹150', '₹250', '₹650', '₹350', '₹800', '₹50',
       '₹400', '₹600', '₹300', '₹750', '₹450', '₹550', '₹1,000', '₹500',
       '₹900', '₹1,200', '₹950', '₹850', '₹700', '₹1,150', 'for',
       '₹1,100', '₹1,400', '₹2,050'], dtype=object)

# To eliminate RS sign

In [7]:
data["Average_Cost"]=data["Average_Cost"].str.replace("₹","")

In [8]:
data["Minimum_Order"]=data["Minimum_Order"].str.replace("₹","")

In [9]:
data["Delivery_Time"]=data["Delivery_Time"].str.replace("minutes","")

# Extracting city from address

In [ ]:
data['City.Pune'] = data['Location'].apply(lambda x: 'Pune' if 'Pune' in x else None)
data['City.Kolkata'] = data['Location'].apply(lambda x: 'Kolkata' if 'Kolkata' in x else None)
data['City.Mumbai'] = data['Location'].apply(lambda x: 'Mumbai' if 'Mumbai' in x else None)
data['City.Bangalore'] = data['Location'].apply(lambda x: 'Bangalore' if 'Bangalore' in x else None)
data['City.Delhi'] = data['Location'].apply(lambda x: 'Delhi' if 'Delhi' in x else None)
data['City.Hyderabad'] = data['Location'].apply(lambda x: 'Hyderabad' if 'Hyderabad' in x else None)
data['City.Noida'] = data['Location'].apply(lambda x: 'Noida' if 'Noida' in x else None)
data['City.Gurgaon'] = data['Location'].apply(lambda x: 'Gurgaon' if 'Gurgaon' in x else None)
data['City.Majestic'] = data['Location'].apply(lambda x: 'Bangalore' if 'Majestic' in x else None)
data['City.Marathalli'] = data['Location'].apply(lambda x: 'Bangalore' if 'Marathalli' in x else None)
data['City.Electronic'] = data['Location'].apply(lambda x: 'Bangalore' if 'Electronic' in x else None)
data['City.Gurgoan'] = data['Location'].apply(lambda x: 'Gurgaon' if 'Gurgoan' in x else None)
data['City.Whitefield'] = data['Location'].apply(lambda x: 'Bangalore' if 'Whitefield' in x else None)

data['City'] = data['City.Pune'].map(str)+data['City.Kolkata'].map(str)+data['City.Mumbai'].map(str)+data['City.Bangalore'].map(str)+data['City.Delhi'].map(str)+data['City.Hyderabad'].map(str)+data['City.Noida'].map(str)+data['City.Gurgaon'].map(str)+data['City.Majestic'].map(str)+data['City.Marathalli'].map(str)+data['City.Electronic'].map(str)+data['City.Gurgoan'].map(str)+data['City.Whitefield'].map(str)

data['City'] = data['City'].apply(lambda x: x.replace('None',''))

In [ ]:
data.head()

In [ ]:
data1=data[['Restaurant','City','Cuisines','Average_Cost','Minimum_Order','Rating','Votes','Reviews','Delivery_Time']]

In [ ]:
data1

In [ ]:
data1.to_csv('Citywisedata.csv')

In [ ]:
# function to count number of cuisines in particular restaurant
def countoc(s):
    a=s.split(',')
    return len(a)

In [ ]:
# To test
countoc('Fast Food,Rolls,Burger,Salad,Wraps')

In [ ]:
data1['Count Cuisine']=data1['Cuisines'].apply(lambda x:countoc(x))

In [ ]:
data1.dtypes

Converting non numerical values in numberical column to Nan

In [ ]:
cols=['Average_Cost','Minimum_Order','Rating','Votes','Reviews','Delivery_Time']

In [ ]:
data1[cols]=data1[cols].apply(pd.to_numeric,errors='coerce')

In [ ]:
data1.dtypes

In [ ]:
data1.isnull().sum()

In [ ]:
data1['Average_Cost']=data1['Average_Cost'].fillna(data1['Average_Cost'].median())
data1['Rating']=data1['Rating'].fillna(data1['Rating'].median())
data1['Votes']=data1['Votes'].fillna(data1['Votes'].median())
data1['Reviews']=data1['Reviews'].fillna(data1['Reviews'].median())

In [ ]:
data1.isna().sum()

Getting Test data before joining from cleaned data

In [ ]:
test=data1[11094:]

In [ ]:
test.head()

In [ ]:
train=data1[:11094]

In [ ]:
train.isna().sum()

Generating dummy variables for one hot encoding

In [ ]:
x=train[['City','Average_Cost','Minimum_Order','Rating','Votes','Reviews','Count Cuisine']]
y=train['Delivery_Time']
x=pd.get_dummies(data=x,drop_first=True)

In [ ]:
x1=test[['City','Average_Cost','Minimum_Order','Rating','Votes','Reviews','Count Cuisine']]
A=pd.get_dummies(data=x1,drop_first=True)

# Visualization

In [ ]:
#city wise distribution of resturant records
plt.figure(figsize=(12,6))
ax=train.City.value_counts().plot(kind='bar')
ax.legend(['Restaurant'])
plt.xlabel("City")
plt.ylabel("Count of Restaurant")
plt.title("City VS Number of Restaurant",fontsize=20,weight='bold')

In [ ]:
#location wise Distribution of Resturant Records
plt.figure(figsize=(12,6))
names=df_train['Location'].value_counts()[:10].index
values=df_train['Location'].value_counts()[:10].values
colors=['gold','red','lightcoral','lightskyblue','blue','green','silver']
explode=(0.1,0,0,0,0,0,0,0,0,0)

plt.pie(values,explode=explode,labels=names,colors=colors,autopct='%1.1f%%',shadow=True,startangle=140)
plt.axis('equal')
plt.title("Percentage")
plt.show()

In [ ]:
import seaborn as sns
plt.figure(figsize=(12,6))
ax1=sns.countplot(train['Delivery_Time'])
plt.title('Number of Restaurants Vs Delivery_Time',weight='bold')
plt.xlabel('Delivery_Time')

In [ ]:
plt.figure(figsize=(20,6))
ax2=sns.countplot(x="Rating",hue="Delivery_Time",data=train)
plt.title('Rating vs Delivery Time distribution',weight='bold')

In [ ]:
plt.figure(figsize=(20,6))
ax2=sns.countplot(x="City",hue="Delivery_Time",data=train)
plt.title('City vs Delivery Time distribution',weight='bold')

# KNN

In [ ]:
#fitting K-NN to the training set
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=1)
classifier.fit(x,y)

In [ ]:
#Applying grid search for find the best model and the best parameters
from sklearn.model_selection import GridSearchCV
parameters=[{'n_neighbors' : [1,2,3,4,5,6]}]

grid_search= GridSearchCV(estimator= classifier,
                         param_grid=parameters,
                         scoring='accuracy',
                         cv=10,
                         n_jobs= -1)

In [ ]:
grid_search=grid_search.fit(x, y)
best_accuracy=grid_search.best_score_
best_parameters=grid_search.best_params_

In [ ]:
best_accuracy

In [ ]:
best_parameters

# RandomForestClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x, y, test_size = 0.2, random_state = 37)
RFC=RandomForestClassifier(random_state=37,n_estimators=50)
RFC.fit(X_train,y_train)

#X_final=test[['City','Average_Cost','Minimum_Order','Rating','Votes','Reviews','Count Cuisine']]
#X_final=pd.get_dummies(data=X_final,drop_first=True)
pred=RFC.predict(A)
pred

In [ ]:
sub=pd.DataFrame()
sub["Restaurant"]=test["Restaurant"]
sub["Delivery_Time"]=np.round(pred).astype(int)
sub["Delivery_Time"]=sub["Delivery_Time"].astype(str)+"minutes"
sub.to_excel("submission.xlsx",index=False)
sub